APP_ENV=

# session
## openssl rand -base64 32
SESSION_SECRETS=

# auth
AUTH_ACCESS_KEY1=
AUTH_ACCESS_KEY2=

# discordへのリンク
DISCORD_LINK_INVITE=
DISCORD_LINK_QUESTION=
DISCORD_LINK_SUGGESTION=

# discord oauth
DISCORD_AUTH_CLIENT_ID=
DISCORD_AUTH_CLIENT_SECRET=
DISCORD_AUTH_CLIENT_CALLBACK=
