name: Lighthouse
on:
  pull_request:
    branches:
      - "*"
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - "packages/front/**"
      - ".github/workflows/lighthouse-ci.yml"

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    environment:
      name: front
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # DB構築
      - run: pnpm run migration
        working-directory: packages/front
      - run: pnpm run seed:local
        working-directory: packages/front

      - name: Run Lighthouse CI
        run: pnpm dlx @lhci/cli@0.14.x autorun
        working-directory: packages/front
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
