name: Lint & Fix Markdown Files

on:
  pull_request:
    branches: ["*"]
    paths:
      - "*.md"
      - ".github/**/*.md"
      - "docs/**/*.md"
      - "packages/**/*.md"
      - "specs/**/*.md"
      - ".github/workflows/lint-docs.yml"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  lint-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile

      - name: lint documents
        run: pnpm run document lint

      - name: 変更の検出とコミット
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git add .
            git commit -m "docs: markdownファイルのフォーマット修正

            CIによる自動コミット"
            git push
          else
            echo "変更はありませんでした"
          fi
